[2017-01-14 09:13] ArtemyB opened #2 "No test found on test discovery"
That what I get in Output:
[code]
Couldn't figured out by myself how to solve the problem. :c

[2017-01-14 23:51] adamchester commented on #2
Thanks @ArtemyB !

I believe this is due to new versions of Expecto. I will update soon.

[2017-01-22 00:42] adamchester commented on #2
@ArtemyB can you try the latest version please?

[2017-01-22 00:42] #2 closed

[2017-01-22 10:35] mgyongyosi commented on #2
@ArtemyB Sometimes the Visual Studio VSIX Test adapter integration can be trick. If you are still getting the same exception then close VS and remove the previous Expecto.VisualStudio.TestAdapter folders from ``%TEMP%\VisualStudioTestExplorerExtensions\``.

[2017-01-25 09:58] toburger commented on #2
I'm now getting the following error message:

[code]

Sorry, for the German error message. It means: "The sequence is empty"

[2017-01-25 10:40] mgyongyosi opened #4 "Add support for async test cases (testCaseAsync)"

[2017-01-25 10:43] mgyongyosi commented on #2
Do you have any async test? (I could repro the problem with adding testCaseAsync to the test cases. )

I think expecto-adapter does not support async test currently, but I created a new issue for that #4.

[2017-01-25 12:38] toburger commented on #2
Yes indeed, I have async tests.
After commenting them out it works.
Good catch!

[2017-01-26 00:27] adamchester opened #5 "Use expecto to find source locations"

[2017-01-26 00:28] adamchester opened #6 "Configure CI/deployment to nuget"

[2017-01-26 00:29] adamchester opened #7 "Create automated tests"

[2017-01-26 08:41] chinwobble opened #8 "Tests do not show in test explorer when you attempt to reference the this nuget package using paket"
You need to use nuget package manager however most F# projects will want to use paket.

Is it possible to make this not require nuget package manager?

[2017-01-26 08:59] adamchester commented on #8
Hey @chinwobble.

Please try using the paket `version_in_path: true` setting on this.

https://fsprojects.github.io/Paket/nuget-dependencies.html#Putting-the-version-no-into-the-path

Sorry it's not obvious on the doco yet, PR would be welcome :)

[2017-01-26 09:11] chinwobble commented on #8
@adamchester  thanks for the quick reply.
Yea putting that in the paket.dependencies file works. I meant that you still need to use a packages.config file and can't use a paket.references file in the project.

[2017-01-26 09:12] chinwobble commented on #8
@adamchester  I'll have a go at trying to make a PR but have never done much with extensions before...

[2017-01-26 09:13] adamchester commented on #8
I believe it's a limitation of the way visual studio handles test adapters.

[2017-01-26 09:13] #8 closed

[2017-01-26 09:14] adamchester commented on #8
If you find any solution, please do share! 👍

[2017-01-26 10:10] mgyongyosi commented on #8
As @adamchester said, it's a limitation of visual studio. If I'm right, Paket generates a packages.config file if you set the version_in_path: true and after that VS should discover your tests.

 They have the same issue with xUnit (https://github.com/fsprojects/Paket/issues/516),

[2017-01-27 13:03] ArtemyB commented on #2
@adamchester I've tested it on the very simple test project and it works. 🎉 However it still doesn't work with the project I'm currently working with. But the errors are different. I'll try briefly describing what the tests are.
The project uses C++ graph DB library with .NET bindings ([Sparksee][1] to be precise). During the tests a DB (and a file for it) is created. It also requires  some not-.N

[2017-01-27 13:06] ArtemyB commented on #2
@mgyongyosi ok, thank you. I am not getting the same exceptions for now, but the details you've provided could be useful someday. 🙂

[2017-01-27 23:29] adamchester commented on #2
@ArtemyB thanks for the feedback! I'm keen to understand the problem you described in more detail.

Any chance you raise a new issue with instructions on how to reproduce it?

[2017-02-07 10:40] vbfox opened #9 "Add support for FSCheck test cases"
It seem that as soon as one FSCheck (`testProperty`) case is used no tests are found in the assembly by visual studio anymore.

[2017-03-06 22:05] #9 closed

[2017-03-09 10:20] fbehrens opened #11 "Tests not discovered with Expecto >= 4.x.x"
Hi,

I addedd it through `nuget Expecto.VisualStudio.TestAdapter version_in_path: true `
`paket install`,
This installs `Expecto.VisualStudio.TestAdapter (1.0.0-alpha005) - version_in_path: true`

and then restart Visual Studio.
[code]
I can open Test-Explorer bun none of my Expecto tests are discovered.
It's not that I really wonder about something in Visual Studio is not working,
but it would be

[2017-03-11 08:16] nikolamilekic commented on #11
@fbehrens Try with an older version of Expecto (3.2). Also, alpha005 does not support FsCheck (issue #9) and async tests (issue #4).

[2017-03-11 08:22] adamchester commented on #9
Released in [1.0.0-alpha006](https://github.com/adamchester/expecto-adapter/releases/tag/1.0.0-alpha006).

[2017-03-11 08:23] adamchester commented on #4
Fixed in [1.0.0-alpha006](https://github.com/adamchester/expecto-adapter/releases/tag/1.0.0-alpha006).

[2017-03-11 08:23] #4 closed

[2017-03-11 08:23] adamchester commented on #11
Released [1.0.0-alpha006](https://github.com/adamchester/expecto-adapter/releases/tag/1.0.0-alpha006) however I expect this issue still exists.

[2017-03-11 09:25] fbehrens commented on #11
I tried with
[code]
ropenend solution, rebuild solution, but no test in test-Explorer apperar.
With `expecto 3.2.0` i got the same result.

Here is my example  code https://github.com/fbehrens/Fsharp-playground

[2017-03-11 10:59] nikolamilekic commented on #11
@fbehrens You need to add Expecto.VisualStudio.TestAdapter to your project's paket.references (followed by .paket/paket.exe install). I just tried that with your code and it worked.

[2017-03-11 11:21] fbehrens commented on #11
@nikolamilekic Thanks for support :). It discoverd the test in with Expecto `3.2.1` after i did.
@adamchester Thanks for the update, I can confirm your expectations.

[2017-03-11 11:24] fbehrens commented on #11
I don't know if you will also support VS2017. Will You ?
Right now tests are not discovered in VS2017.
[code]

[2017-03-11 11:27] nikolamilekic commented on #11
@fbehrens That's strange because I tried your project with 2017 and it worked after I made the paket.references change.

[2017-03-11 11:43] fbehrens commented on #11
@nikolamilekic Yes, indeed. I have no idea why.
Its a fresh install of `VS2017`. Just cloned, `paket restore`, and rebuild all.

[2017-03-11 21:34] adamchester commented on #11
Hey @fbehrens, your solution currently works here in 2017 too, no changes required.
![image](https://cloud.githubusercontent.com/assets/570470/23827010/4d4729e4-06f5-11e7-91e4-2865fdbfecb0.png)

I also tried upgrading expecto to 4.0.3 and it fails still, so I am leaving this open:
![image](https://cloud.githubusercontent.com/assets/570470/23827054/4e59efaa-06f6-11e7-9cb8-c2b925af4ec3.png)

[2017-03-11 22:30] adamchester commented on #11
Alright, the solution here might as simple as recompiling this test adapter against expecto 4.x, fixing a few minor breaking changes, then publishing again.

![image](https://cloud.githubusercontent.com/assets/570470/23827376/2315a264-06fe-11e7-8f7c-3fde7774ea0c.png)

[2017-03-11 23:50] adamchester commented on #11
Fixed with https://github.com/adamchester/expecto-adapter/releases/tag/4.0.0-alpha007

[2017-03-11 23:50] #11 closed

[2017-03-12 09:56] fbehrens commented on #11
@nikolamilekic Thanks for checking with VS2017. I pulled from the wrong remote and missed again the entry in the `paket.references` :facepalm:

@adamchester thanks for the fixes and update to `4.0.3`

[2017-03-18 19:52] nikolamilekic opened #12 "Test case navigation does not work in Visual Studio 2017"
When you double click on a test case in the Test Explorer, Visual Studio 2015 navigates to that test case. This no longer works in 2017. Instead, the following error is shown on the status bar: "Cannot open the following file: [...]."

[2017-03-19 09:46] adamchester commented on #12
Hey @nikolamilekic - It's actually working for me. Any chance you can dig a little deeper to find out what set of circumstances causes this? Are you using [4.0.0-alpha007](https://github.com/adamchester/expecto-adapter/releases/tag/4.0.0-alpha007)?

[2017-03-26 13:14] nikolamilekic commented on #12
Sorry, I didn't get a chance to spend some time on this until now. I just tried again with an empty project and it's still not working. I also tried with xUnit and their runner and that didn't work either, so I'm calling it a problem with my machine or with Visual Studio.

[2017-04-04 19:00] vasily-kirichenko opened #13 "It does not work :)"
![image](https://cloud.githubusercontent.com/assets/873919/24673772/17788db8-1982-11e7-8b69-0d93bed64c98.png)

Maybe it works on tests marked with attributes?

[2017-04-04 20:01] ditadi commented on #13
Looking at the sample code (https://github.com/adamchester/expecto-adapter/blob/master/src/Expecto.Vstest.Console/Program.fs) it looks like the test function needs [<Tests>] attribute.

[2017-04-05 17:14] vasily-kirichenko commented on #13
@ditadi Thanks! With that attribute applied the tests appear in the Text Explorer window and everything works great.

[2017-04-05 17:14] #13 closed

[2017-04-05 17:36] vasily-kirichenko opened #14 "`Expect.isFasterThan` result is shown both as red and green"
Having this code:

[code]
The result is somewhat confusing:

![1](https://cloud.githubusercontent.com/assets/873919/24718619/63427be2-1a3f-11e7-80d4-1c0ba3f80ac4.gif)

![image](https://cloud.githubusercontent.com/assets/873919/24718577/35b60dce-1a3f-11e7-8327-7dd44adbb0cb.png)

[2017-04-05 19:07] #12 closed

[2017-04-07 18:55] nikolamilekic commented on #14
@vasily-kirichenko So you defined two tests that are both called "Perf": one passed and the other failed and that is what is being shown. What are your expectations and what am I missing here?

[2017-04-07 19:53] vasily-kirichenko commented on #14
@nikolamilekic yellow? ;) Sorry, I was stupid.

[2017-04-07 19:53] #14 closed

[2017-04-20 21:06] mastoj opened #17 "It seems like we get a "lock" on the test exe"
I can only run the tests one or two times, after that it seems like Visual Studio, or something, has a "lock" on the test exe so my build fails. I get a couple of:

[code]

Then it fails with:

[code]

Is it a known issue?

[2017-04-20 21:10] adamchester commented on #17
@mastoj thanks for reporting this. I have a wild guess that it might have something to do with Mono.Cecil, because that is one thing that changed a lot in recent versions.

Is this a new issue? what version(s) of things do you have?

[2017-04-20 21:18] mastoj commented on #17
@adamchester I used the newest stable version of everything related to Expecto expect for the runner where I used the latest pre release. I had to fall back to FsUnit though since I'm preparing a workshop and need the tools to work for everyone at the workshop.

I'm using VS2017 if that makes a difference.

[2017-04-21 15:01] Zeroto commented on #17
I had the same problem. Using expecto 4.1.1 with the 5.0.0-alpha008 testadapter it caused locks on the file. By reverting to 4.0.0-alpha007 it started working. This is in vs2017.

[2017-04-22 22:52] jackfoxy opened #18 "Visual Studio test discovery fails when FsCheckConfig.arbitrary set"
Reproducible in the "testadapter" branch of https://github.com/jackfoxy/personalServer

Visual Studio test discovery results in message (See output window, Tests):

'vstest.discoveryengine.x86.exe' WCF communication channel unavailable. Active request will be aborted.

Cause: appears to be problem with passing types in the FsCheckConfig.arbitrary field

Reproduction steps:

File: PersonalServer\te

[2017-04-23 20:10] MNie commented on #17
@Zeroto how do You use 5.0.0-alpha008 if this version [works only with Expecto in version > 5.0](https://www.nuget.org/packages/Expecto.VisualStudio.TestAdapter/)?
If you are using Expecto 4.1.1, you should use TestAdapter in version at most [4.0.0-alpha007](https://www.nuget.org/packages/Expecto.VisualStudio.TestAdapter/4.0.0-alpha007)
@mastoj Did you something after this `1/2 successful runs`? I

[2017-04-23 21:22] mastoj commented on #17
I might have updated everything I could update, but only stable versions.
The only pre release package was this I think? Don't remember exactly what
I did, sorry.
On Sun, 23 Apr 2017 at 22:10, Michał Niegrzybowski <notifications@github.com>
wrote:

[2017-04-24 04:33] MNie commented on #17
@mastoj I see. I ask you about this because I was trying to reproduce your problem and if I:
* Install Expecto ( > 5.0) and Adapter ( > 5.0) I could run test multiple times, change code and then also run specs -> **tl;dr; everything works fine**
* Install Expecto ( > 5.0) and Adapter (> 5.0) run tests several times and then update/reinstall packages related to Expecto I get the same error as you g

[2017-04-24 05:43] mastoj commented on #17
I'm pretty sure I updated packages as you describe in point 2.
On Mon, 24 Apr 2017 at 06:33, Michał Niegrzybowski <notifications@github.com>
wrote:

[2017-04-24 08:55] Zeroto commented on #17
@MNie That is not clear from the release description. As how I read it, it added support for expecto 5.0. Not removed support for expecto 4.0 and lower.

@mastoj It is good to note that expecto 5.0 is still a prerelease version. So if you installed the latest stable, then you are using expecto 4

[2017-05-02 07:12] kunjee17 commented on #17
@mastoj hey, I was facing the same issue. Then I moved to `Install-Package Expecto -Version 4.2.1` and it will also revert adaptor to previous version (4.*) everywhere. And things are working for me.

[2017-05-02 07:52] kunjee17 commented on #17
@adamchester hey, I was unable to pin point the issue. As if I run the console project it will work. But if I try using Test Explorer it was unable to fine test projects as well as locking down the exe file in bin/debug. I couldn't even delete it manually without stopping the process from task manager. This things happens only when it was version is > 5.

[2017-05-02 14:18] misterspeedy commented on #18
I started getting this message after installing the adapter.  It affected all solutions, not just the one where I installed the adapter (using paket).  The problem persists even through multiple reboots. The install seems to be changing something global.  (Was using VS2017 community with F# nightly on Win10.)

[2017-05-02 14:41] misterspeedy commented on #18
Even uninstalling and re-installing VS2017 didn't fix this.

[2017-05-02 15:22] misterspeedy commented on #18
One more bit of info - it affects solutions which use a custom FSCheck Generator.  (Even those which didn't have the adapter installed and haven't been changed in any way before it was installed in another project).  But it doesn't affect test discovery in solutions which don't use a generator.

[2017-05-02 17:37] misterspeedy commented on #18
I wanted to check that what I said was true - that this affects projects other than the one where the adapter was installed.  So I've just created a brand new project, installed just FSCheck and the FSCheck adapter (but not the Expecto adapter), and added this code:

    namespace ExpectoRepro

    open Xunit
    open FsCheck
    open FsCheck.Xunit

    module public Generation =

        type Sho

[2017-05-02 17:59] misterspeedy commented on #18
When I open the project from the previous project in VS2015 (as opposed to 2017) I get the same error.  So it seems that whatever got changed is at the machine level rather than the VS level.

[2017-05-02 18:11] misterspeedy commented on #18
This works fine on the ExpectoRepro project:

`vstest.console.exe "C:\Users\kitea\Documents\Visual Studio 2017\Projects\ExpectoRepro\ExpectoRepro\bin\Debug\ExpectoRepro.dll"`

So there is nothing inherently wrong with the test DLL.

[2017-05-02 20:39] jackfoxy commented on #18
To clarify, my issue, which only happens when I use FsCheckConfig.arbitrary, is with Visual Studio 2015.

[2017-05-02 23:10] jackfoxy commented on #18
I just upgraded my project to FSharp.Core 4.4.1
Still using VS 2015
And the test adapter still works so long as I don't try to map custom generators to arbitrary (so I have to test with the custom generators using the more verbose Prop.forAll

Anyway it it's any help my pakek.lock file reports the following for Expecto components:

    Expecto (4.2.1)
      Argu (>= 3.7)
      FSharp.Core (>= 4.1.

[2017-05-03 07:46] misterspeedy commented on #18
All my test also run perfectly in NCrunch.  It does seem to be very specific to the combination of having installed the adapter, and having a generator.

Doing a paket uninstall on the adapter didn't fix it incidentally.

[2017-05-03 07:59] misterspeedy commented on #18
Interestingly doing this:

Doesn't remote from either paket.dependencies or paket.lock.

[2017-05-10 08:34] thinkbeforecoding commented on #18
I'm having the same problem... and I also try to find where it comes from...

@misterspeedy , when running on NCrunch, which runner are you using ?

I was wondering whether it could be something that is usually fixed by binding redirects... If the adapter is trying to load a library with a version mismatched that is resolved when running the expecto projet by a binding redirect, it could be failin

[2017-06-22 19:29] Silv3rcircl3 commented on #17
I have the same issue, according to the test discovery logs it tries to insert the same key twice into a dictionary.

[code]
`Ein Element mit dem gleichen Schlüssel wurde bereits hinzugefügt.` translates to ` A element with the same key was already added`
not sure if it helps.

[2017-06-24 17:35] jackfoxy opened #22 "MissingMethodException Void ExpectoConfig..ctor(...)"
When I attempt Run Selected Tests from VS 2015 test window (same in VS 2017, with Framework 4.6.1 and 4.7):

    System.MissingMethodException: Method not found: 'Void ExpectoConfig..ctor(Boolean, Int32, Microsoft.FSharp.Core.FSharpOption`1<System.TimeSpan>, System.TimeSpan, Double, Boolean, Microsoft.FSharp.Core.FSharpFunc`2<Expecto.Test,Expecto.Test>, TestPrinters, Expecto.Logging.LogLevel, Micr

[2017-06-24 17:56] TeaDrivenDev commented on #22
Did you check the binding redirects for `FSharp.Core` in your test project? I don't think I've ever had MissingMethodExceptions in F# for any other reason.

[2017-06-25 01:34] jackfoxy commented on #22
Just tried adding binding redirects. No difference. I'm now at .NET framework 4.7, so don't know if that would fix it at a lower version.

[2017-06-25 10:10] MNie commented on #22
@jackfoxy
Expecto.Adapter 5.0.0-alpha008 is not compatible with Expecto 5.0, information in [nuspec](https://www.nuget.org/packages/Expecto.VisualStudio.TestAdapter/) is incorrect:
![image](https://user-images.githubusercontent.com/7689103/27515232-0533b6ca-599f-11e7-915c-c5bdb57a4308.png)
It is compatible only with Expecto (>= 5.0.0-beta1 && <= 5.0.0-rc1).
@adamchester  will release today a new v

[2017-07-01 22:46] MNie commented on #22
@jackfoxy new version of adapter is available on nuget.

[2017-07-03 00:47] jackfoxy commented on #22
@MNie works as expected in VS 2017

[2017-07-03 00:47] #22 closed

[2017-07-03 22:38] jackfoxy commented on #17
I am experiencing probably the same issue on VS2017 and VS2015, with the very latest test adapter and latest Expecto.

    Expecto (5.0)
      Argu (>= 3.7)
      FSharp.Core (>= 4.1.12)
      Mono.Cecil (>= 0.10.0-beta5)
    Expecto.BenchmarkDotNet (5.0)
      BenchmarkDotNet (>= 0.10.5)
      Expecto (>= 5.0)
      FSharp.Core (>= 4.1.12)
    Expecto.FsCheck (5.0)
      Expecto (>= 5.0)
      Fs

[2017-07-04 04:50] MNie commented on #17
@jackfoxy [issue](https://github.com/jbevain/cecil/issues/425) was reported to a Mono.Cecil. I also found one interesting thing that if a test project is set to a console application instead of a library everything works fine.

[2017-07-04 15:48] jackfoxy commented on #17
@MNie My test project in question is a console app. Perhaps my problem requires opening a new issue?

[2017-07-04 18:12] MNie commented on #17
@jackfoxy I don't think so, it seems that it is exactly the same problem. Also I have no idea why it is working on my machine if I have project type set to console app :(

[2017-07-04 22:02] jackfoxy commented on #17
@MNie and your paket lock file entries look the same? What version (and which updates) of visual studio? How about FSharp.Core? My Paket lock says

    FSharp.Core (4.2.1)

[2017-07-04 22:03] jackfoxy commented on #17
Also my .NET Target Framework for the Test project is 4.7

[2017-07-05 19:10] MNie commented on #17
@jackfoxy
I use nuget, here is my packages.config file:
[code]
and project is set to .net framework 4.6.1.

[2017-07-06 17:12] jackfoxy commented on #17
I tried downgrading to .net framework 4.6.1 and FSharp.Core 4.1.17, but same problem. I only tried this on VS2017.

Could it have something to do with Mono.Cecil being involved in your test project @MNie ? My project does not have that.

[2017-07-20 00:33] jbevain commented on #17
There are 2 different issues here.

First the lock file. As noted in the change log on http://cecil.pe, Cecil 0.10 now keeps a handle on the underlying file by default. `ModuleDefinition` now implement `IDisposable` and the user will be responsible for disposing of a module.

The module that you open there:

https://github.com/adamchester/expecto-adapter/blob/1e67dba168506f67746ee8c34a614b0b87d0d0

[2017-07-20 11:02] MNie commented on #17
@jbevain I will fix that with one of the solution that You proposed and then check if problem still occurs. Many thanks for taking a look on that!

[2017-07-23 11:09] MNie commented on #17
@jackfoxy @mastoj It seems that the newest version fix the problem with lock on an exe file.

[2017-07-23 16:18] jackfoxy commented on #17
Great news. Hope to test it out tonight.
I hope someone can find a solution for https://github.com/adamchester/expecto-adapter/issues/18

[2017-07-23 23:47] jackfoxy commented on #17
Unfortunately for me this is actually worse. The Test Window fails in both VS2015 and VS2017

[code]

[2017-07-23 23:49] jackfoxy commented on #17
As an aside, I notice Expecto.VisualStudio.TestAdapter.dll does not have the proper assembly version stamped. Instead both the previous and new versions show file and product versions of 9999.0.0

[2017-07-24 08:12] MNie commented on #17
@jackfoxy the steps to reproduce error that You get, are the same? (install package, run, uninstall, install, run).
And maybe You could provide an exe file which fails for You so @jbevain could look at this, since exe file provided by me was 'correct'?

[2017-07-24 15:52] jackfoxy commented on #17
I will try to get this together tonight.

[2017-07-24 17:24] jbevain commented on #17
The exception @jackfoxy posted means that a Cecil method body was accessed after the module in which the method is defined has been disposed. Meaning the module is disposed too early.

[2017-07-24 18:26] MNie commented on #17
@jbevain so the easiest solution to fix that problem right now, would be to use
`Pass InMemory = true to the ReaderParameters.` instead of use/using block as it is done right now?

[2017-07-24 19:10] jbevain commented on #17
That's indeed the easiest solution.

[2017-07-25 03:29] jackfoxy commented on #17
@MNie test solution https://github.com/jackfoxy/personalServer use the issue17 branch

[2017-07-25 18:32] jackfoxy commented on #17
Forgot to mention, but hopefully obvious, you need to do a Paket install on my test branch first.

[2017-08-02 16:57] jackfoxy commented on #17
I noticed a commit, but no new release to Nuget. Is there something ready to test?

[2017-08-02 20:24] MNie commented on #17
@jackfoxy Yes there was a commit with a second `type` of solution to a problem with not disposable `ReadModule`. But new package was not pushed to a nuget since it works for me the same as previous solution (I cannot reproduce lock on exe file right now). I think we could push new nuget version, so You could check if it helps You.

[2017-08-02 22:28] jackfoxy commented on #17
@MNie did you try replicating on the test solution branch I posted above? Perhaps it's a setting I have in VS rather than the solution or VSIX.

[2017-08-02 22:45] adamchester commented on #17
I'm not sure this has any impact on the problem we are discussing, but it's well known that visual studio test runner extensions can be corrupted / cached.

For example, [the xUnit doco says](https://xunit.github.io/docs/getting-started-desktop.html#run-tests-visualstudio):

[2017-08-03 04:06] MNie commented on #17
@jackfoxy not yet :(

[2017-08-03 17:55] jackfoxy commented on #17
I just tried deleting VisualStudioTestExplorerExtensions folder and no change.

[2017-08-08 14:00] piaste commented on #17
I encountered the same error as @jackfoxy on VS2017, using the 5.0.0.1 version.

I cloned the current master branch, packaged it, and referenced it (using `paket.local`). That solved the problem.

So I just wanted to report that @MNie 's latest fix appears to work 👍

[2017-08-18 05:13] MNie commented on #17
@jackfoxy @piaste 5.0.0.2 is available on nuget :)

[2017-08-22 17:29] jackfoxy commented on #17
@MNie  First the good news. With 5.0.0.2 I can see tests in the VS 2017 test explorer, run individual test, debug individual tests (setting breakpoints), and rebuild my solution, in about any arbitrary order I try, without locking files or any other problems.

Now the bad news. The test explorer is only discovering 48 of 153 tests. Also in VS2015. I tried cleaning the solution. I tried deleting th

[2017-08-22 19:27] MNie commented on #17
@jackfoxy

Excellent to hear that its finally `works`, but not so good that tests are not discovered :(
I think You could open a new issue and If You could provide more info (visual studio version etc.) I would be very grateful!

[2017-08-22 22:08] jackfoxy commented on #17
I'm pretty sure some test component (either this one or something in VS) is caching known tests at the test list level by module somewhere, I just don't know where. And it does not recognize that I have added more tests in this module. I tried commenting the tests that were showing up in this module, and they continued to be in the Test Explorer list!

I just need to figure out where this cache is

[2017-08-22 22:41] jackfoxy commented on #17
Of course cleaning the solution from VS did not really clean it. And I determined there is no magic caching going on. I've isolated the problem area, and it has nothing to do with this issue.

So please mark this complete!

If I determine the new thing is a bug I will file a new issue.

[2017-08-22 23:15] jackfoxy opened #28 "Expect.equal stops discovery"
`Expect.equal` stops further discovery of tests.

[code]
Place some other tests before and after this in a module. You will see the tests before discovered, the others not.

[code]

[2017-08-23 17:45] jackfoxy commented on #18
I re-tested this with adapter 5.0.0.2 and FSharp.Core 4.2.3 and the same problem persists.

I cleaned-up my test branch "testadapter" at https://github.com/jackfoxy/PersonalServer/tree/testadapter if someone feels inspired to try debugging.

[2017-08-24 19:56] jackfoxy opened #29 "Parameter count mismatch in Discovery"
To reproduce, use my project https://github.com/jackfoxy/PSlogger

Checkout initial commit in master branch. (I will be making more commits, and the initial commit is quite simple, with only one test in one test list.)

Attempting test discovery results in:

[code]

[2017-08-24 19:58] jackfoxy commented on #17
From my perspective this issue can be closed.

Is it still not working in some cases? @MNie

[2017-08-25 04:27] #17 closed

[2017-08-25 04:29] MNie commented on #17
@jackfoxy I didn't know any cases when it is not working right now. If it occurs one more time we could reopen this issue :)

[2017-09-08 11:50] alex-bogomaz commented on #29
@jackfoxy  - in this file https://github.com/jackfoxy/PSlogger/blob/master/tests/PSlogger.Tests/Tests.fs
you actually have **parametrized** test list:
[code]
Not sure how it is possible to handle such tests in "Test Explorer" window.
Should adapter skip such test lists?

[2017-09-09 17:45] jackfoxy commented on #29
Perfect! Thanks, @alex-bogomaz
Closing this issue @MNie

[2017-09-09 18:20] jackfoxy commented on #29
@alex-bogomaz  @MNie  I closed this prematurely.

A better behavior would be to trap this exception, write a message that parameterized lists cannot be handled by the adapter, and continue to process the non-parameterized lists.

[2017-11-07 09:54] alex-bogomaz commented on #28
latest upgrade of  "Mono.Cecil" to "0.10-beta7" should fix this issue

[2017-11-08 16:59] cgravill opened #31 "Using the simple "test" blocks result display"
I'm trying to use the test adaptor as it'd be great to use Expecto more. I don't seem to be able to use the `test` to create simple cases.

[code]

Leads to the the simple `test` and subsequent `testCase` not being displayed.

The tests are being run from the log though:

[code]

I tried building from master but had the same missing tests:

![image](https://user-images.githubusercontent.com/109972

[2017-11-10 18:25] jackfoxy commented on #28
I can confirm, this fixed the problem in my case. Tested on VS2017 15.4.3.

I also discovered that VS very aggressively caches AppData\Local\Temp\VisualStudioTestExplorerExtensions\Expecto.VisualStudio.TestAdapter.5.0.0.2

Something to watch out for when testing in this case, since TestAdapter.5.0.0.2 did not look like it changed. I just copied the Mon.Cecil files. It's not enough to delete the ca

[2017-11-11 09:19] MNie commented on #28
@jackfoxy my mistake it should increment the `bug section` of an adapter version instead of `build section`. I updated nuspec and release notes on github.

[2017-11-14 22:30] o1lo01ol1o opened #32 "No worky"
I have the tests annotated and the ``paket packages referenced in my project.  Running discover tests creates some noise on the output and ceases with:

[code]

This is on VS 2017 15.4.4

[2017-11-21 21:11] MNie commented on #32
@o1lo01ol1o I tried to reproduce your problem with
[code]
But everything seems to works fine.
![image](https://user-images.githubusercontent.com/7689103/33096921-ddca0d70-cf08-11e7-8d26-11e69c3f8cba.png)

[2017-11-21 21:28] MNie commented on #31
@cgravill
I trying to reproduce your problem and I have the same issue
![image](https://user-images.githubusercontent.com/7689103/33097405-641b633c-cf0a-11e7-8cc4-9d601d8a243a.png)
But when assertion in single test is different than `Expect.equal` for example `Expect.isTrue`/`Expect.isEmpty` then everything works fine:
![image](https://user-images.githubusercontent.com/7689103/33097464-91676ba6-cf

[2017-11-22 16:57] cgravill commented on #31
Thanks for confirming. It'd be great to run tests with Visual Studio as well as it's easier to select a given test that way than via the command-line.

[2017-12-15 17:07] davidtme opened #33 "5.0.1 missing on nuget"
I looks like version 5.0.1 isn't on nuget

![image](https://user-images.githubusercontent.com/1804141/34052456-5de95060-e1ba-11e7-90ec-7c5b70226ed9.png)

[2017-12-15 19:07] MNie commented on #33
Yup its still not available on nuget. @adamchester could you push a new version if you found some spare time :)?

[2017-12-18 20:48] #32 closed

[2017-12-18 20:58] MNie commented on #31
@cgravill sorry for a late response. I try to discover from where this bug comes from, but when I run those tests one more time, everything works fine..
![image](https://user-images.githubusercontent.com/7689103/34127582-f872500c-e43d-11e7-8c64-bc4e5347d1ab.png)
The same with runTestsWithArgs:
![image](https://user-images.githubusercontent.com/7689103/34127610-10ef0666-e43e-11e7-96fe-3287d4a6600f.

[2017-12-18 21:36] adamchester commented on #33
Sorry for delays, @MNie has the nuget permission now ;)

[2017-12-19 09:29] MNie commented on #33
@adamchester #tactician I released a new version to [nuget](https://www.nuget.org/packages/Expecto.VisualStudio.TestAdapter/5.0.1)

[2017-12-19 09:29] #33 closed

[2017-12-19 09:31] MNie commented on #28
New version released, I'm closing it.

[2017-12-19 09:31] #28 closed

[2017-12-19 09:32] MNie commented on #31
In fact this issue seems to be a duplicate of #28 . New version of adapter released to nuget, update of mono.cecil should fix'd the issue.

[2017-12-19 09:32] #31 closed

[2017-12-19 13:25] davidtme commented on #33
Thanks @adamchester and @MNie :)

[2018-01-01 21:52] jackfoxy opened #36 "Method not found: Void ExpectoConfig..ctor"
Expecto.VisualStudio.TestAdapter 5.0.1
VS 2017 15.5.2

Test with https://github.com/jackfoxy/PersonalServer  master commit 36901bf

Test window loads with tests successfully, but running any test throws:

[code]

I think the problem might be a missing reference to ````Microsoft.VisualStudio.TestPlatform.ObjectModel 11.0.0.0````

[2018-01-01 23:41] MNie commented on #36
Hi @jackfoxy, it is related to #34. When I return from holidays I will release a new version of adapter with fix'd nuspec and then take a Look at this issue.

[2018-01-08 05:08] MNie commented on #36
@jackfoxy fix'd package pushed to nuget. I will take a look at the issue today/tomorrow.

[2018-01-08 17:51] jackfoxy commented on #36
@MNie this is very weird, and has never happened before.
I did `paket update` to pick up the to pick up the 5.1.1 version, which I can see on nuget.org, and it did not update my paket.lock file.
OK, then I tried` paket update -f` same result.

Still investigating, but I will likely have to report this to Paket.

[2018-01-08 20:04] MNie commented on #36
@jackfoxy indeed its weird. I also pushed a beta version of an adapter which is based on a new format of fsproj.

[2018-01-10 00:54] jackfoxy commented on #36
@MNie  I think I found the problem.
The dependency in the nuspec file is

\<dependency id="Expecto" version="[5.0.0, 5.1.1)" />

whereas Expecto has moved on to 5.1.2

[2018-01-10 20:39] MNie commented on #36
@jackfoxy It is related to #34.
Also could you check if everything works fine for you with [6.0.0-alpha2](https://www.nuget.org/packages/Expecto.VisualStudio.TestAdapter/6.0.0-alpha2), if yes I would release it as a new package with version 6.0.0. I check it and it seems to works for me, no more error with ctor.

[2018-01-11 16:32] jackfoxy commented on #36
Ah, so would be nice if Expecto respected semantic versioning. I'll checkout the alpha and let you know

[2018-01-12 00:53] jackfoxy commented on #36
6.0.0-alph2 works, with the exception that 1 out of 156 tests failed in the adapter, but does not fail when run through Expecto as console app.

It's a little complex so I don't know how long it will take me to research, and I'm not even sure when I can get to it.

[2018-01-12 04:42] MNie commented on #36
@jackfoxy so I will wait with making an official release till you check what is wrong. But this is very weird since the logic of discovering/running tests doesn't change..

[2018-01-15 02:39] jackfoxy commented on #36
The test in question is faulty and was not marked to run in the console test runner.
This release of the adapter is good. @MNie

[2018-01-15 05:13] MNie commented on #36
@jackfoxy Excellent information! I will release 6.0.0 later today.

[2018-01-15 17:56] MNie commented on #36
6.0.0 released.

[2018-01-15 17:56] #36 closed

[2018-01-16 11:55] AnthonyLloyd opened #37 "netcoreapp vs netstandard story"
Can I check what happens with netstandard assemblies with tests that are used in an entrypoint netcoreapp?

It looks like you are running tests using the adapters app?

If you look at the story here for xunit it gets complicated:
https://twitter.com/ExpectoIO/status/953194299872735233

[2018-01-16 18:29] sergey-tihon commented on #37
Do anybody know the example of `working` setup of `expecto-adapter` with `netcore2` test project?

[2018-01-16 19:15] AnthonyLloyd commented on #37
Just chatting to @MNie it looks like not. I think we should discuss the best way the Expecto lib can help this get done in the netcoreapp/netstandard world.

My naive opener is could it all be done via the netcoreapp cli?

[2018-01-22 23:45] jackfoxy opened #38 "adapter does not work with dotnetcore sdk project files"
[code]
test with [my test branch](https://github.com/jackfoxy/personalServer/tree/newprojectsystem
)

[code]

[2018-01-23 18:29] MNie commented on #38
Related to [#211](https://github.com/haf/expecto/issues/211)

[2018-01-23 18:38] MNie commented on #38
@jackfoxy could you check if Expecto.VisualStudio.TestAdapter references Expecto in version > 5.1.1?
If my project references only a `Expecto.VisualStudio.TestAdapter` it references an Expecto in version 5.0:
![image](https://user-images.githubusercontent.com/7689103/35293540-52a01bde-0074-11e8-8345-6f182f763e6a.png)
But if I install explicitly the newest Expecto everything seems to work fine.
![i

[2018-01-23 19:56] MNie commented on #38
@jackfoxy I released a [6.0.1](https://www.nuget.org/packages/Expecto.VisualStudio.TestAdapter/6.0.1) with restriction for Expecto. Please check if it works for you :)

[2018-01-23 19:56] #38 closed

[2018-01-25 17:31] jackfoxy commented on #38
Thanks for the quick response. Just picked up 6.0.1 and 155 of 156 tests passed, as expected. @MNie

[2018-01-25 19:05] MNie commented on #38
@jackfoxy great to hear :)

[2018-01-29 02:11] jackfoxy commented on #37
just confirmed my dotnetSDK  project discovers and runs tests for net47, but fails to discover tests for netstandard2.0

test with this branch https://github.com/jackfoxy/PersonalServer/tree/netstandard2

[2018-02-14 16:42] adam-c-anderson opened #39 "Method not found: 'Boolean ExpectoConfig.get_allowDuplicateNames()"
Tests are discovered, but an unexpected error occurs when trying to run them.
The tests run fine from the command line.

Adapter was working fairly recently, but started doing this instead after I added some new tests. Removing the tests again did not restore test-running behavior.

[code]

[2018-02-14 16:56] MNie commented on #39
@adam-c-anderson I think it is related to #36 and #22. Please try to use the newest version of an adapter.

[2018-02-14 18:43] adam-c-anderson commented on #39
What's weird is that I've been using Expecto 5.0.1 and Expecto.VisualStudio.TestAdapter 6.0.0 successfully for a few weeks now until this. `paket update` didn't automatically update.

I'm still kind of new at paket, but I was able to get enough info out of it to suspect that the legacy pinned dependency on System.ValueTuple 4.3.1 might be preventing other things from updating. I removed the versio

[2018-02-14 18:43] #39 closed

[2018-02-25 19:58] jackfoxy commented on #37
Deleting my previous comment with a test repo, as I now realize the repo is not properly configured to test this issue.

[2018-03-02 10:35] AnthonyLloyd opened #40 "Expecto config change for log name"
I need to coordinate a release for haf/expecto#224. Can you let me know when you would be in a position to do a joint release.

[2018-03-02 19:03] Julien-Pires commented on #18
I've got the same problem but with a different error message: "The active test discovery was aborted. Reason: Process is terminated due to StackOverflowException.".

The problem occurs when trying to change the arbitrary value of FsCheckConfig.

This could be reproduced easily with [Expecto example](https://github.com/haf/expecto#property-based-tests) about property based testing where they overri

[2018-03-05 21:55] AnthonyLloyd commented on #40
Expecto v6.0.0 has been released with this included.

[2018-03-06 07:20] MNie commented on #40
Expecto.Adapter has been released with Expecto v6.0.0 included.

[2018-03-06 07:20] #40 closed

[2018-04-04 12:50] TAGC opened #41 "Unable to discover any tests"
I'm experimenting with F#/Expecto and using Visual Studio as my IDE. I've created a test project that references Expecto and Expecto.VisualStudio.Adapter. It has a test case defined in it, but Visual Studio's test runner fails to pick it up.

The test project contains these files:

**MyCompany.Message.FSharp.Tests.fsproj**

[code]

**Tests.fs**

[code]

**Program.fs**

[code]

#### Environment

 -

[2018-05-06 17:10] jackfoxy commented on #41
I am having a discovery problem in one of my solutions, but not the other. The difference I can see between the two is the failing solution has net461 projects.

Both solutions:
VS 15.6.7
Expecto 7.0.1
Expecto.VisualStudio.TestAdapter 8.0.0 version_in_path: true

This solution discovers tests successfuly:

-root
	-Solution.sln
	-packages/
	-src/Project1/Project1.proj
	-src/Project1/bin/Debug/net45

[2018-05-07 18:29] MNie commented on #41
@TAGC sorry for a late response! .Net core is not supported in expecto.adapter. If you want to use Expecto adapter which works under .net core check [this adapter](https://www.nuget.org/packages/YoloDev.Expecto.TestSdk/) also there is an easy option to create a test project (`via dotnet new`) which contains all packages which give you an ability of running Expecto tests by `dotnet test` [here](htt

[2018-05-07 18:54] jackfoxy commented on #41
@MNie Tests are not discovered in the solution that only has net461 projects.
Tests ARE DISCOVERED in solutions that have netstandard2.0 among the targets, and the test projects themselves are net47. I'm not saying this is significant. That is just the environment information I am reporting.

[2018-05-07 19:00] MNie commented on #41
@jackfoxy roger that I will take a look at this in a free time. I will also create an issue to add support to a .net core in an adapter.

[2018-05-07 19:04] MNie opened #42 "Support .net core related projects"
Projects which target .net core are not supported right now by an adapter. It would be great if adapter supports not only .net framework related projects but also .net core related.
I think we could base on some solutions from [yolo dev sdk](https://www.nuget.org/packages/YoloDev.Expecto.TestSdk/)

Maybe you guys have some more guides:
@adamchester @Alxandr @AnthonyLloyd

Somehow related: [expecto

[2018-05-07 21:16] jackfoxy commented on #41
If you ever want to give me some pointers on setting up an adapter test environment, I may be able to file more informative issue reports, or even PRs.

[2018-05-26 17:32] jackfoxy commented on #41
@MNie  Here's a commit that replicates the problem:
https://github.com/fsprojects/FSharpx.Collections/commit/e5a93c7176183fcfb8ca8bc71c2fa278a53c5814

Visual Studio 15.7.2
TestAdapter 9.0.0

Is it having issues with multi-targeted projects and/or net461?

[code]

[2018-06-08 16:17] jackfoxy commented on #41
My BIG mistake here. For some projects I have test adapter in the paket.dependencies file, but not in the paket.referenes file of the unit test project. So not a problem for me after fixing that.
I don't know if @TAGC still has a problem.
From my perspective @MNie this can be closed.

[2018-06-08 16:31] MNie commented on #41
@jackfoxy great to hear!
for @TAGC there is a separate issue for a support to .net core.

[2018-06-08 16:31] #41 closed

[2018-09-30 19:44] jackfoxy opened #44 "Method not found in ExpectoConfig..ctor"
It seems like this one has popped up and been fixed before.

[code]
building with dotnet\sdk\2.1.500-preview-009297
test exe is net472
Expecto adapter version 9
VS 15.9.0 Preview 2.0 or VS 15.8.5

Reproduction steps:
clone this commit of DependentTypes
https://github.com/jackfoxy/DependentTypes/commit/6474cf9ef818861978484540f595c492dff0e564

Do test discovery and run all tests.

[2018-10-05 04:44] MNie commented on #44
@jackfoxy I think it is related to a breaking change in expecto. New package pushed to a nugget. Please give a sign if it helps you.

[2018-10-09 00:43] jackfoxy commented on #44
@MNie fixed. Thanks.

[2018-10-09 00:43] #44 closed

[2018-11-30 00:22] olivercoad commented on #18
I've made a pull request which fixes this issue. Anyone want to give it a test?

[2018-11-30 08:19] #18 closed

[2018-12-01 16:59] jackfoxy commented on #18
@olivercoad I'm interested in testing. I need to check if my test case still results in the problem.

[2019-01-06 23:06] trbarrett opened #46 "Support for Newtonsoft.Json 11 & 12"
[code]

Hi, would it be possible to add support for more recent versions of Newtonsoft.Json to the nuget dependencies? 11.X, which came out last February, and perhaps the more recent 12.X?

https://github.com/adamchester/expecto-adapter/blob/master/nuspec/Expecto.VisualStudio.TestAdapter.nuspec#L22

https://github.com/JamesNK/Newtonsoft.Json/releases

Cheers

[2019-01-14 18:08] jackfoxy commented on #46
Expecto.VisualStudio.TestAdapter 10.0.1, which requested package Newtonsoft.Json: >= 10.0 < 11.0
Fake.DotNet.Cli 5.0.0 requested package Newtonsoft.Json: >= 11.0.2
causing Fake to downgrade Expecto

[2019-01-25 05:06] MNie commented on #46
I will try to update it during a weekend.

[2019-02-08 06:23] MNie commented on #46
@adamchester could you push it to nuget since my apikey expired, please :)?

[2019-02-08 11:47] adamchester commented on #46
@MNie sent you the code ;)

[2019-02-09 08:10] MNie commented on #46
@jackfoxy, @trbarrett  pushed a new version.

[2019-02-09 08:10] #46 closed

[2019-02-09 17:43] jackfoxy commented on #46
I just tested. Everything looks good. Thanks, @MNie

[2019-04-18 11:09] matthid opened #48 "Adapter broke with Expecto 8.10"
After Upgrading to latest Expecto I was greeted with the following error

[code]

https://www.nuget.org/packages/Expecto/8.10.0

Downgrading to `< 8.10` (= 8.9.1) helped

using VS2017

[2019-04-18 11:59] olivercoad commented on #48
Looks like this issue
https://github.com/haf/expecto/issues/318,
https://github.com/YoloDev/YoloDev.Expecto.TestSdk/issues/15

[2019-04-20 22:12] fbehrens opened #49 "No tests found to run for netcore2.1 app in Visual Studio 2019"
Hello,

thanks for offering the software,

I followed the installation instructions but VS can't find my expecto tests,

It Ok that it is not working,

but  it would be helpul to have the requirements in the README.

This is the message i got
[code]
here is my paket setup
[code]

[2019-05-09 14:53] lfr commented on #49
Same here (netcoreapp 2.2)

[2019-05-18 21:58] hpsbranco commented on #49
Try installing YoloDev.Expecto.TestSdk. It solved for me.

[2019-05-20 05:43] lfr commented on #49
Just installing it didn't solve it for me, however creating a new project with the Expecto template did (which comes pre-configured with YoloDev's test adapter)

[2019-06-11 00:31] jackfoxy commented on #48
I'm seeing the same problem. Downgrading Expecto to 8.9.1 did fix it.